body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

.button {
    cursor: pointer;
}
.storage {
    max-height: 80vh;
    overflow-y: scroll;
}

.card{
    max-width: 25vw;
}